<?xml version="1.0"?>
<config>
    <modules>
        <Tyny_Core>
            <version>0.1.0</version>
        </Tyny_Core>
    </modules>
    <default>
        <general>
            <locale>
                <code>vi_VN</code>
                <timezone>Asia/Bangkok</timezone>
            </locale>
        </general>
        <url>
            <convert>
                <char0128><from>Ạ</from><to>A</to></char0128>
                <char0129><from>Ắ</from><to>A</to></char0129>
                <char0130><from>Ằ</from><to>A</to></char0130>
                <char0131><from>Ặ</from><to>A</to></char0131>
                <char0132><from>Ấ</from><to>A</to></char0132>
                <char0133><from>Ầ</from><to>A</to></char0133>
                <char0134><from>Ẩ</from><to>A</to></char0134>
                <char0135><from>Ậ</from><to>A</to></char0135>
                <char0136><from>Ẽ</from><to>E</to></char0136>
                <char0137><from>Ẹ</from><to>E</to></char0137>
                <char0138><from>Ế</from><to>E</to></char0138>
                <char0139><from>Ề</from><to>E</to></char0139>
                <char0140><from>Ể</from><to>E</to></char0140>
                <char0141><from>Ễ</from><to>E</to></char0141>
                <char0142><from>Ệ</from><to>E</to></char0142>
                <char0143><from>Ố</from><to>O</to></char0143>
                <char0144><from>Ồ</from><to>O</to></char0144>
                <char0145><from>Ổ</from><to>O</to></char0145>
                <char0146><from>Ỗ</from><to>O</to></char0146>
                <char0147><from>Ộ</from><to>O</to></char0147>
                <char0148><from>Ợ</from><to>O</to></char0148>
                <char0149><from>Ớ</from><to>O</to></char0149>
                <char0150><from>Ờ</from><to>O</to></char0150>
                <char0151><from>Ở</from><to>O</to></char0151>
                <char0152><from>Ị</from><to>I</to></char0152>
                <char0153><from>Ỏ</from><to>O</to></char0153>
                <char0154><from>Ọ</from><to>O</to></char0154>
                <char0155><from>Ỉ</from><to>I</to></char0155>
                <char0156><from>Ủ</from><to>U</to></char0156>
                <char0157><from>Ũ</from><to>U</to></char0157>
                <char0158><from>Ụ</from><to>U</to></char0158>
                <char0159><from>Ỳ</from><to>Y</to></char0159>
                <char0160><from>Õ</from><to>O</to></char0160>
                <char0161><from>ắ</from><to>a</to></char0161>
                <char0162><from>ằ</from><to>a</to></char0162>
                <char0163><from>ặ</from><to>a</to></char0163>
                <char0164><from>ấ</from><to>a</to></char0164>
                <char0165><from>ầ</from><to>a</to></char0165>
                <char0166><from>ẩ</from><to>a</to></char0166>
                <char0167><from>ậ</from><to>a</to></char0167>
                <char0168><from>ẽ</from><to>e</to></char0168>
                <char0169><from>ẹ</from><to>e</to></char0169>
                <char0170><from>ế</from><to>e</to></char0170>
                <char0171><from>ề</from><to>e</to></char0171>
                <char0172><from>ể</from><to>e</to></char0172>
                <char0173><from>ễ</from><to>e</to></char0173>
                <char0174><from>ệ</from><to>e</to></char0174>
                <char0175><from>ố</from><to>o</to></char0175>
                <char0176><from>ồ</from><to>o</to></char0176>
                <char0177><from>ổ</from><to>o</to></char0177>
                <char0178><from>ỗ</from><to>o</to></char0178>
                <char0179><from>Ỡ</from><to>O</to></char0179>
                <char0180><from>Ơ</from><to>o</to></char0180>
                <char0181><from>ộ</from><to>o</to></char0181>
                <char0182><from>ờ</from><to>o</to></char0182>
                <char0183><from>ở</from><to>o</to></char0183>
                <char0184><from>ị</from><to>i</to></char0184>
                <char0185><from>Ự</from><to>U</to></char0185>
                <char0186><from>Ứ</from><to>U</to></char0186>
                <char0187><from>Ừ</from><to>U</to></char0187>
                <char0188><from>Ử</from><to>U</to></char0188>
                <char0189><from>ơ</from><to>o</to></char0189>
                <char0190><from>ớ</from><to>o</to></char0190>
                <char0191><from>Ư</from><to>U</to></char0191>
                <char0192><from>À</from><to>A</to></char0192>
                <char0193><from>Á</from><to>A</to></char0193>
                <char0194><from>Â</from><to>A</to></char0194>
                <char0195><from>Ã</from><to>A</to></char0195>
                <char0196><from>Ả</from><to>A</to></char0196>
                <char0197><from>Ă</from><to>A</to></char0197>
                <char0198><from>ẳ</from><to>a</to></char0198>
                <char0199><from>ẵ</from><to>a</to></char0199>
                <char0200><from>È</from><to>E</to></char0200>
                <char0201><from>É</from><to>E</to></char0201>
                <char0202><from>Ê</from><to>E</to></char0202>
                <char0203><from>Ẻ</from><to>E</to></char0203>
                <char0204><from>Ì</from><to>I</to></char0204>
                <char0205><from>Í</from><to>I</to></char0205>
                <char0206><from>Ĩ</from><to>I</to></char0206>
                <char0207><from>ỳ</from><to>y</to></char0207>
                <char0208><from>Đ</from><to>D</to></char0208>
                <char0209><from>ứ</from><to>u</to></char0209>
                <char0210><from>Ò</from><to>o</to></char0210>
                <char0211><from>Ó</from><to>o</to></char0211>
                <char0212><from>Ô</from><to>o</to></char0212>
                <char0213><from>ạ</from><to>a</to></char0213>
                <char0214><from>ỷ</from><to>y</to></char0214>
                <char0215><from>ừ</from><to>u</to></char0215>
                <char0216><from>ử</from><to>u</to></char0216>
                <char0217><from>Ù</from><to>U</to></char0217>
                <char0218><from>Ú</from><to>U</to></char0218>
                <char0219><from>ỹ</from><to>y</to></char0219>
                <char0220><from>ỵ</from><to>y</to></char0220>
                <char0221><from>Ý</from><to>Y</to></char0221>
                <char0222><from>ỡ</from><to>o</to></char0222>
                <char0223><from>ư</from><to>u</to></char0223>
                <char0224><from>à</from><to>a</to></char0224>
                <char0225><from>á</from><to>a</to></char0225>
                <char0226><from>â</from><to>a</to></char0226>
                <char0227><from>ã</from><to>a</to></char0227>
                <char0228><from>ả</from><to>a</to></char0228>
                <char0229><from>ă</from><to>a</to></char0229>
                <char0230><from>ữ</from><to>u</to></char0230>
                <char0231><from>ẫ</from><to>a</to></char0231>
                <char0232><from>è</from><to>e</to></char0232>
                <char0233><from>é</from><to>e</to></char0233>
                <char0234><from>ê</from><to>e</to></char0234>
                <char0235><from>ẻ</from><to>e</to></char0235>
                <char0236><from>ì</from><to>i</to></char0236>
                <char0237><from>í</from><to>i</to></char0237>
                <char0238><from>ĩ</from><to>i</to></char0238>
                <char0239><from>ỉ</from><to>I</to></char0239>
                <char0240><from>đ</from><to>d</to></char0240>
                <char0241><from>ự</from><to>u</to></char0241>
                <char0242><from>ò</from><to>o</to></char0242>
                <char0243><from>ó</from><to>o</to></char0243>
                <char0244><from>ô</from><to>o</to></char0244>
                <char0245><from>õ</from><to>o</to></char0245>
                <char0246><from>ỏ</from><to>o</to></char0246>
                <char0247><from>ọ</from><to>o</to></char0247>
                <char0248><from>ụ</from><to>u</to></char0248>
                <char0249><from>ù</from><to>u</to></char0249>
                <char0250><from>ú</from><to>u</to></char0250>
                <char0251><from>ũ</from><to>u</to></char0251>
                <char0252><from>ủ</from><to>u</to></char0252>
                <char0253><from>ý</from><to>y</to></char0253>
                <char0254><from>ợ</from><to>o</to></char0254>
                <char0255><from>Ữ</from><to>U</to></char0255>
            </convert>
        </url>
    </default>
    <global>
        <resources>
            <tyny_core_setup>
                <setup>
                    <module>Tyny_Core</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </tyny_core_setup>
        </resources>
        <models>
            <core>
                <rewrite>
                    <locale>Tyny_Core_Model_Locale</locale>
                </rewrite>
            </core>
        </models>
    </global>
</config>
